.dots-anim{
  animation: dots-fade-keys linear 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: dots-fade-keys linear 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: dots-fade-keys linear 2.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: dots-fade-keys linear 2.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: dots-fade-keys linear 2.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}



@keyframes dots-fade-keys{
  0% {
    opacity:0.75;
  }
  5% {
    opacity:1;
  }
  10% {
    opacity:0.75;
  }
  16% {
    opacity:0.75;
  }
  20% {
    opacity:1;
  }
  26% {
    opacity:0.75;
  }
  33% {
    opacity:0.75;
  }
  44% {
    opacity:1;
  }
  52% {
  }
  62% {
    opacity:0.75;
  }
  77% {
  }
  100% {
    opacity:0.75;
  }
}

@-moz-keyframes dots-fade-keys{
   0% {
    opacity:0.75;
  }
  5% {
    opacity:1;
  }
  10% {
    opacity:0.75;
  }
  16% {
    opacity:0.75;
  }
  20% {
    opacity:1;
  }
  26% {
    opacity:0.75;
  }
  33% {
    opacity:0.75;
  }
  44% {
    opacity:1;
  }
  52% {
  }
  62% {
    opacity:0.75;
  }
  77% {
  }
  100% {
    opacity:0.75;
  }
}

@-webkit-keyframes dots-fade-keys {
 0% {
    opacity:0.75;
  }
  5% {
    opacity:1;
  }
  10% {
    opacity:0.75;
  }
  16% {
    opacity:0.75;
  }
  20% {
    opacity:1;
  }
  26% {
    opacity:0.75;
  }
  33% {
    opacity:0.75;
  }
  44% {
    opacity:1;
  }
  52% {
  }
  62% {
    opacity:0.75;
  }
  77% {
  }
  100% {
    opacity:0.75;
  }
}

@-o-keyframes dots-fade-keys {
  0% {
    opacity:0.75;
  }
  5% {
    opacity:1;
  }
  10% {
    opacity:0;
  }
  16% {
    opacity:0;
  }
  20% {
    opacity:1;
  }
  26% {
    opacity:0;
  }
  33% {
    opacity:0;
  }
  44% {
    opacity:1;
  }
  52% {
  }
  62% {
    opacity:0.75;
  }
  77% {
  }
  100% {
    opacity:0.75;
  }
}

@-ms-keyframes dots-fade-keys {
   0% {
    opacity:0.75;
  }
  5% {
    opacity:1;
  }
  10% {
    opacity:0.75;
  }
  16% {
    opacity:0.75;
  }
  20% {
    opacity:1;
  }
  26% {
    opacity:0.75;
  }
  33% {
    opacity:0.75;
  }
  44% {
    opacity:1;
  }
  52% {
  }
  62% {
    opacity:0.75;
  }
  77% {
  }
  100% {
    opacity:0.75;
  }
}