#section-screensaver{
  position:fixed;
  width:100vw;
  height:100vh;
  bottom:8px;
  background-color:black;
  background-size:cover;
  background-position:center center;
  z-index:99;
  margin:0 auto;
  padding:0;
  display:block;


  animation: screensaver 5s steps(30, end);
 animation-fill-mode: forwards; 
  -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
   -moz-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
     -o-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
        animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */


}

.section-screensaver-disabled{
  display:none !important;
  z-index:-1 !important;
}





.typewriter{
  z-index:7;
  position:absolute;
  margin: 0 auto;
  display:block;
  left:50vw;
  top:50vh;
  transform:translate(-50%,0);
  
}




.typewriter h1 {

  display:block;
  padding-right:5px;
  font-size:2.5em;
  color: #fff;
  font-family: 'Borda_Light';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 2px solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 10px; /* Adjust as needed */
  opacity:0;
  height:auto;
 
}


.typerwriter-animation{
   width:500px;
   animation: 
    typing 4s steps(30, end) ,
    blink-caret .5s step-end infinite ;


 animation-fill-mode: forwards; 
  -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
   -moz-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
     -o-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
        animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

/* The typing effect */
@keyframes typing {
  from { width: 0; opacity:0; }
  to { width: 100%; opacity:1; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

/* Screensaver */
@keyframes screensaver {
  0% { opacity:1;}
  70% { opacity:1;}
  100% { opacity:0; display:none;}
}


@media screen and  (max-device-width: 767px) {


.typewriter h1 {

  font-size:3em !important;

}


}