



@media screen and  (max-device-width: 767px) {


 
body{
	  padding: 0;
  	 margin: 0;


}

.header-nav{
	font-size:2em;
	word-wrap: break-word;
}

.header-logo{
	max-width:200px;
	max-height:40px;
}



 #main-wrapper{
 	background-image:url('https://tristansmartpixeltv.github.io/pagersmartpixel.github.io/Images/Splash_Background_Mobile.jpg');
 	background-size:cover;
 	background-position:center 0;
 	background-repeat:no-repeat;
 	width:auto;
 	height:auto;
 	min-height:2160px;
 }

 #section-parallax{
 	display:none;

 }

 #section-about{
 	width:auto;
 	height:auto;
 	position:relative;
 	top:2160px;
 	left:initial;
 	right:initial;
 	margin:initial;
 	padding:initial;
 	z-index:initial;
 	
 }

 #section-about-video-outer-container{
 	width:auto;
 	height:auto;
 	position:relative;
 	top:0;
 }

 .section-about-video-content{
	/*display:none;*/
	position:initial;
	bottom:initial;
	top:initial;
	margin-top:100px;
	left:initial;
	height:initial;
	width:initial;
	z-index:3;
	transform:initial;
}

 
#section-about-video{
	/*display:none;*/
}


.section-about-video-content h1{
	font-size:2em;
	margin-left: auto;
  	margin-right: 0;
  	margin-bottom: 0;
  	margin-top:0;
	display:block;
	max-width:100vw;
	padding:50px;
	padding-bottom:0;
	padding-top:0;
	text-align:center;
	font-family:"Borda_Reg";
	color:#a6a6a6;
	word-wrap: break-word;
}


#section-about-video-hyperlink{
	font-size:1em;
	margin-left: auto;
  	margin-right: 0;
  	margin-bottom: 0;
  	margin-top:0;
	display:block;
	max-width:100vw;
	padding:50px;
	padding-bottom:0;
	padding-top:0;
	text-align:center;
	font-family:"Borda_Bold";
    text-decoration: none;
	color:white;
	word-wrap: break-word;

}

.section-about-video-content a:hover{
	color:blue;
	cursor:pointer;
}



.section-about-video-content p{
	font-size:1em;
	margin-left: auto;
  	margin-right: 0;
  	margin-bottom: auto;
  	margin-top: 20px;
  	padding:50px;
  	padding-top:0;
  	max-width:100vw;
	display:block;
	text-align:center;
	font-family:"Borda_Reg";
	color:white;
	letter-spacing:3px;
	line-height:1.7em;
	word-wrap: break-word;
}

.section-about-video-content-subtitle{
	font-family:"Borda_Bold";
	color:white;
}



#content-table{
	top:2260px;
	position:relative;
	table-layout:auto !important;
	width:100vw;
	max-width:100vw; 
	height:auto;
	position:relative;
	background-image:url('https://tristansmartpixeltv.github.io/pagersmartpixel.github.io/Images/Contact_BG.jpg');
	background-size:100% 100%;
	background-position:center 0;
	background-repeat:no-repeat;
	word-break:all;
	overflow:hidden;
	display:block;
	margin:0 auto;
}

.section-contact{
	background-image:url(https://tristansmartpixeltv.github.io/pagersmartpixel.github.io/Images/Contact_BG.jpg);
	background-size:100vw 100vw;
	background-position:center center;
	background-repeat:no-repeat;
	z-index:0;
	top:0;
	min-width:100vw;
	min-height:100vw;
	position:absolute;
}

#section-contact-bg{
	display:none !important;
}



.section-contact-table{
	display:table; 
	margin:0;
	top:0px; 
	position:relative;  
	border-spacing:0 0px;
	table-layout: fixed; 
	width: 100vw;
	max-width:100%; 
		word-break:all;
	
	
}

.section-contact-row{
	display:table-row;
}

.section-contact-adress-subtitle{
	top:20px;
	bottom:20px;
	max-width:80vw; 
	margin:0 auto;
	position:relative;
	font-family:'Borda_Light';
	letter-spacing:3px;
	line-height: 1em;
	font-size:1.75em; 
	word-wrap: break-word;
	display:block;
}


.section-contact-adress-title{
	font-family:'Borda_Bold';
	letter-spacing:3px;
	font-size:2em;
	word-wrap: break-word;
	min-width:70vw;
}

.section-contact-adress-container{
	display:block; 
	color:white; 
	text-align:center;
	width:auto;
	margin-top:200px;
}

#section-contact h1{
	font-size:2em;
	word-wrap: break-word;
  	margin: 0 auto;
  	max-width:initial;
	display:block;
	padding-bottom:0;
	padding-top:0;
	top:0;
    margin-top:0px;
	text-align:center;
	width:100vw;
	font-family:"Borda_Bold";
	color:white;
	z-index:2;
	position:relative;
}

.section-contact-maintitle{
	position:relative;
	top:2400px;
	text-align:center;
	z-index:8;

}

#section-contact-maintitle{
	font-size:3em;
	word-wrap: break-word;
}


.section-contact-subtitle{
	font-family:"Borda_Bold";
	color:white;
	width:70px;
}




.section-screensaver-disabled{
  display:none !important;
  z-index:-1 !important;
}



.section-gotowebsite-container{
	background-color:transparent; 
	color:white;
	position:relative; 
	margin:0 auto; 
	margin-top:40px;
	max-width:50vw;
	padding-top:20px;
	padding-bottom:20px;
	border: 1px solid white;

	z-index:2;
	text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


.section-gotowebsite-container:hover{
	background-color:rgba(0,0,0,0.8);
}

.section-gotowebsite-header{

  word-break:normal;
  font-size:2.5em;
  word-wrap: break-word;
  white-space: normal;
  width:70vw !important;
  


}


.section-gotowebsite-title{
	font-family:'Borda_Light'; 
	font-size:2em;  
	word-wrap: break-word;
	color:white; 
	display:block;
	vertical-align: middle; 
	text-align:center;
	padding:15px;
	margin:0 auto;

	
}



.section-screensaver-disabled{
  display:none !important;
  z-index:-1 !important;
}






	
.section-contact-subtitle{
	font-family:"Borda_Bold";
	color:white;
	display:inline;
	
}



.header-nav{
	display:inline;
	text-align:center;
}

.section-copyright{
	line-height:200px;

}

.section-copyright-title{
	font-size:2em;
	word-wrap: break-word;
}

.section-socialmedia-container{
	max-width: 100vw;
	min-width:100vw;
	margin:0 auto;
	margin-top:50px;
	margin-left:37.5px;
	height:75px;
	transform:translate(0x,0);
	
}


.section-socialmedia-name {
	display:inline; 
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
	margin-left:75px;
	text-align:center;
	text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    z-index:8;

}



.section-socialmedia-name img{
	max-width:75px;
	max-height:75px;
	min-width:75px;
	min-height:75px;
}

.section-socialmedia-title{
	font-size:3em;
	word-wrap: break-word;
}




}